################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sem11/sem11/.vs/sem11/v16
/sem11/sem11/Debug
/sem11/sem11/sem11/Debug
/.vs/slnx.sqlite
/sem12/.vs/sem12/v16
/sem12/Debug
/sem12/sem12/Debug
/.vs
